* {
    box-sizing: border-box;
    &:before {
        box-sizing: border-box;
    }
    &:after {
        box-sizing: border-box;
    }
}
html {
    background-color: @bg-main;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    height: 100vh;
}
body {
    overflow: hidden;
    height: 100%;
}
.content {
    margin: 0 auto;
    height: @height-main;
    max-width: @width-max;
    min-width: @width-min;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin: 0 auto;
    padding: 15px;
    height: 100%;
}
.card {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 13%;
    width: 100%;
}
.card__col_day {
    text-align: center;
}
.card__weekday {
    font-size: 5.6vmin;
}
.card__date {
    font-size: 2.6vmin;
}
.card__col_icon {
    font-size: 5.6vmin;
}
.card__col_temperature {
    font-size: 1.6em;
}