
@font-size: 16px;

@height-header: 60px;
@height-header-search: 50px;
@height-footer: 60px;
@height-main: calc(~"100% - "(@height-header + @height-footer));

@width-max: 1920px;
@width-min: 320px;

@transition-header-btn-clear: 0.3s;
